/* Media query for screens with a maximum width of 600px */
@media (max-width: 600px) {
  /* Adjusting grid layout and dimensions for smaller screens */
  .todo-grid {
    height: 90%;
    width: 85%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 1rem;
  }

  /* Styling for the input container in smaller screens */
  .input-container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  /* Styling for the input element within the input container in smaller screens */
  .input-container input {
    height: 1.5rem;
    width: 90%;
    font-weight: 300;
    text-align: center;
    border-radius: 1rem;
    padding-left: 0.5rem;
    position: absolute;
    outline: none;
    border: none;
  }

  /* Adjusting positions and dimensions for different sections in smaller screens */
  .compeleted-list {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 12;
  }

  .todo-list {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 7;
  }

  .reminder-list {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 12;
    grid-row-end: 16;
  }

  /* Adjusting container height and alignment for smaller screens */
  .container {
    height: 140vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Media query for screens with a width between 600px and 760px */
@media (min-width: 600px) and (max-width: 760px) {
  /* Similar adjustments as the previous media query for a different screen size */
  .todo-grid {
    height: 95%;
    width: 75%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 1rem;
  }

  .input-container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .input-container input {
    height: 1.5rem;
    width: 90%;
    font-weight: 300;
    text-align: center;
    border-radius: 1rem;
    padding-left: 0.5rem;
    position: absolute;
    outline: none;
    border: none;
  }

  .compeleted-list {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 12;
  }

  .todo-list {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 7;
  }

  .reminder-list {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 12;
    grid-row-end: 16;
  }

  .container {
    height: 140vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Media query for screens with a width between 760px and 1000px */
@media (min-width: 760px) and (max-width: 1000px) {
  /* Similar adjustments as the previous media queries for a different screen size */
  .todo-grid {
    height: 90%;
    width: 85%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 1rem;
  }

  .input-container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .input-container input {
    height: 1.5rem;
    width: 90%;
    font-weight: 300;
    text-align: center;
    border-radius: 1rem;
    padding-left: 0.5rem;
    position: absolute;
    outline: none;
    border: none;
  }

  .compeleted-list {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 12;
  }

  .todo-list {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 7;
  }

  .reminder-list {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 12;
    grid-row-end: 16;
  }

  .container {
    height: 140vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
